@*model MVCWebApp.Models.ViewModelFornecedor*@
@using MVCWebApp.DTO 
@model MVCWebApp.DTOs.FornecedorDTO

<head>
    <link href="~/css/Add.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" />

</head>

<header>
    <h1><strong>Cadastro Cliente</strong></h1>
</header>

<form asp-action="Submit" method="post" enctype="multipart/form-data">
    <main class="form">
        <section class="part1">
            <div>
                <label for="nome">Nome:</label>
                <input type="text" required asp-for="Name" />

                <label for="cnpj">CNPJ:</label>
                <input type="text" required asp-for="Cnpj" />
            </div>
            <div>
                <label for="segmento">Escolha um Segmento:</label>
                <select class="segmentos" asp-for="Segmento" asp-items="Html.GetEnumSelectList<Segmento>()">
                    <option required>Selecione um segmento</option>
                </select>

                <span id="msg"></span>
                <label for="cep">CEP:</label>
                <input type="text" name="cep" required asp-for="Cep" id="cep"/>
            </div>

            <div>
                <label for="endereco">Endereço</label>
                <input type="text" name="endereco" id="endereco" asp-for="Endereco" />
            </div>
        </section>

        <section class="part2">
            <input type="file" accept="image/*" class="input" name="file" onchange="previewImage(event)" />
            <div class="img-renderizada"> 
                <img id="renderizar" />
            </div>
        </section>
    </main>

    <article>
        <input type="hidden" name="Subscribed" value="true" />
        <button type="submit">Cadastrar</button>
    
        <span></span>
        @if (TempData["Message"] != null)
        {
            <div class="alert alert-success">
                @TempData["Message"]
            </div>
        }
    </article>
</form>
<script src="/js/Cep.js"></script>
<script src="/js/Image.js"></script>