@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<header>
    <h1><strong>Cadastro Cliente</strong></h1>
</header>

<main class="form">
    <section class="part1">
        <div>
            <label for="nome">Nome:</label>
            <input type="text" name="name" value="" />
        </div>
        <div>
            <label for="cnpj">CNPJ:</label>
            <input type="number" name="cnpj" value="" />
        </div>
        <div>
            <label for="segmento">Escolha um Segmento:</label>
            <select class="segmentos">
                <option value="">Selecione um segmento</option>
                <option value="">Comércio</option>
                <option value="">Serviço</option>
                <option value="">Indústria</option>
            </select>
        </div>
    </section>

    <section class="part2">

    </section>
</main>