@*model MVCWebApp.Models.ViewModelFornecedor*@
@using MVCWebApp.DTO 
@model MVCWebApp.DTOs.FornecedorDTO

<head>
    <link href="~/css/Add.css" rel="stylesheet" />
</head>

<header>
    <h1><strong>Cadastro Cliente</strong></h1>
</header>

<form asp-action="Submit" method="post" enctype="multipart/form-data">
    <main class="form">
        <section class="part1">
            <div>
                <label for="nome">Nome:</label>
                <input type="text" required asp-for="Name" />

                <label for="cnpj">CNPJ:</label>
                <input type="text" required asp-for="Cnpj" />
            </div>
            <div>
                <label for="segmento">Escolha um Segmento:</label>
                <select class="segmentos" asp-for="Segmento" asp-items="Html.GetEnumSelectList<Segmento>()">
                    <option required>Selecione um segmento</option>
                </select>


                <label for="cep">CEP:</label>
                <input type="text" name="cep" required asp-for="Cep" />
            </div>

            <div>
                <label for="endereco">Endereço</label>
                <input type="text" name="endereco" value="" asp-for="Endereco" />
            </div>
        </section>

        <section class="part2">
            <input type="file" accept="image/*" class="img" name="file" />
        </section>
    </main>

    <article>
        <input type="hidden" name="Subscribed" value="true" />
        <button type="submit">Cadastrar</button>

        @if (TempData["Message"] != null)
        {
            <div class="alert alert-success">
                @TempData["Message"]
            </div>
        }
    </article>
</form>
