@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo ao Meu Projeto</h1>
    <p>Meu <a href="https://github.com/louiemoreira76">GitHub</a>.</p>
</div>
